<h1 class="text-3xl sm:text-5xl text-gray-800 dark:text-white tracking-tight">Kart</h1>

<div class="grid grid-cols-1 gap-4 mt-4">
  <div class="bg-blue-600 dark:bg-gray-600 text-white">
    <h2 class="text-2xl sm:text-5xl text-gray-800 dark:text-white tracking-tight">Fylkeskart</h2>
    <app-municipality-map></app-municipality-map>
  </div>

  <div class="bg-blue-600 dark:bg-gray-600 text-white mt-4">
    <h2 class="text-2xl sm:text-5xl text-gray-800 dark:text-white tracking-tight">Kommuneskart</h2>
    <app-community-map></app-community-map>
  </div>

</div>
